# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
